{% extends 'mailing/base.html' %}
{% load mytags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="d-grid col-6 mx-auto">
            {% if user.is_authenticated and not request.user|has_group:'moderator' %}
            <a class="btn btn-outline-orange btn-lg w-100" href="{% url 'mailing:create' %}">Новая рассылка</a>
            {% endif %}
            {% if not user.is_authenticated %}
            <a class="btn btn-outline-orange btn-lg w-100" href="{% url 'users:login' %}">Чтобы увидеть или добавить
                рассылку авторизуйтесь</a>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-2 row-cols-md-2 g-4 mt-5">
        {% for object in object_list %}
        <div class="col-5">
            <div class="card border-purple mb-5 ">
                <div class="card-header text-center">
                    <h5 class="my-0 fw-normal">{{object.title}}</h5>
                    {% if user.is_superuser or request.user|has_group:'moderator' %}
                    <small class="text gray">пользователь: {{object.owner}}</small>
                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Текст рассылки: {{object.message | truncatechars:15}}</li>
                        <li class="list-group-item">Начало рассылки: {{object.start_time}}</li>
                        <li class="list-group-item">Конец рассылки: {{object.end_time}}</li>
                        <li class="list-group-item">Периодичность рассылки: {{object.period}}</li>
                        <li class="list-group-item">Получатели: {% for client in object.clients.all %} {{ client.email}} {% endfor %}
                        </li>
                       {% if object.status == 'started' %}
                        <li class="list-group-item text-success">
                            {% elif object.status == 'created' %}
                            <li class="list-group-item orange">
                        {% else %}
                            <li class="list-group-item text-secondary">
                        {% endif %}
                        Состояние: {{object.status}}</li>
                    </ul>
                </div>
                <div class="card-footer">

                    {% if object.owner == request.user %}
                    <a href="{% url 'mailing:edit' object.slug %}" class="card-link">Редактировать</a>
                    <a href="{% url 'mailing:delete' object.slug %}" class="card-link">Удалить</a>
                    {% if object.is_active %}
                    {% if object.status == 'started' %}
                    <a href="{% url 'mailing:start' object.pk %}" class="card-link">Остановить</a>
                    {% else %}
                    <a href="{% url 'mailing:start' object.pk %}" class="card-link">Запустить</a>
                    {% endif %}

                    {% else %}
                    <hr>
                    <small class="text-danger"> <i class="fa-solid fa-triangle-exclamation" style="color: #9b1c1c;"></i>
                        Рассылка неактивна, для запуска обратитесь в службу поддержки</small>
                    {% endif %}
                    {% endif %}
                    {% if request.user|has_group:'moderator' or request.user.is_superuser %}
                    {% if object.is_active %}
                    <a href="{% url 'mailing:deactivate' object.pk %}" class="card-link text-danger">Деактивировать</a>
                    {% else %}
                    <a href="{% url 'mailing:deactivate' object.pk %}" class="card-link text-success">Активировать</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        {% endfor %}
    </div>
</div>
<div class="d-grid col-6 mx-auto"><a class="btn btn-outline-orange  w-100" href="{% url 'mailing:messages' %}"> К списку
    сообщений для рассылки</a>

</div>
{% endblock %}