{% extends 'mailing/base.html' %}
{% load mytags %}
{% block content %}
<main class="container">
<div class="row mb-5">
    <div class="d-grid col-6 mx-auto">
        {% if user.is_authenticated and not request.user|has_group:'moderator' %}
        <a class="btn btn-outline-orange btn-lg w-100" href="{% url 'mailing:create_message' %}"> Добавить текст для рассылки</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a class="btn btn-outline-orange btn-lg w-100" href="{% url 'users:login' %}">Чтобы увидеть или добавить сообщения авторизуйтесь</a>
        {% endif %}
        </div>
    </div>

    {% for object in object_list %}
    <div class="card border-purple mb-5" style="">
        <div class="row g-0">
            <div class="col-md-12">
                {% if user.is_superuser or request.user|has_group:'moderator' %}
            <div class="card-header">Пользователь: {{object.owner}}</div>
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{object.title}}</h5>
                    <p class="card-text">{{object.body|truncatewords:20}}-....</p>
                </div>
                <div class="card-footer">
                    {% if not request.user|has_group:'moderator' or object.owner == request.user %}
                <a href="{% url 'mailing:edit_message' object.slug %}" class="btn btn-outline-success btn-sm mb-2 md-end">Редактировать</a>
                <a href="{% url 'mailing:delete_message' object.slug %}" class="btn btn-outline-danger btn-sm mb-2">Удалить</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}